.actor-container {
  margin-top: 24px;
  margin-bottom: 40px;
  margin-left: 12px;
}

.actor-photo {
  width: 23rem;
  height: 30rem;
}

.col-3 img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 25px;
}

.carousel-container {
    overflow-x: hidden;
    white-space: nowrap;
    position: relative;
    margin-top: 24px;
    margin-bottom: 40px;
    margin-right: 24px;
    margin-left: 24px;
  }
  
  .movie-actor-carousel {
    overflow-x: hidden;
  }
  
  .movie-actor-card {
    width: 15rem;
    display: inline-block;
    margin-right: 32px;
    overflow: hidden; 
    border-radius: 20px; 
    border-color: #222831;
  }
  
  .card-movie {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .movie-card {
    white-space: normal;
    font-size: 18px;
  }

  .card-actor-title {
    white-space: normal;
    font-size: 18px;
    margin-top: 16px; 
    word-wrap: break-word;
  }
  
  .image-container {
    width: auto;
    max-width: 100%;
    height: 350px;
    overflow: hidden;
  }
  
  .image-container img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  }
  
  .stars {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  .stars-color{
    color: #FF6900;
  }
  
  .btn-scroll {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(34, 40, 49, 0.5);
    border: none;
    padding: 5px;
    cursor: pointer;
    color: #fff;
  }
  
  .btn-next {
    right: 0;
  }
  
  .btn-prev {
    left: 0;
  }

  .actor-details {
    margin-bottom: 50px;
  }
  
  .actor-name {
    margin-bottom: 50px;
    font-size: 24px;
  }
  
  .actor-biography {
    margin-bottom: 50px;
  }
  
  .actor-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .info-item {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 50px;
    }
  }
  
  .actor-details * {
    color: #FFFFFF;
  }

  .col-2 img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
  }
  
  .return-div {
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
  }

  .return-div:hover {
    cursor: pointer;
  }

  .detail-title {
    font-weight: bold;
    font-size: 14px;
    color: white;
  }
  
  .bi-arrow-left {
    color: white;
  }

  .card-text-color {
    color: #828282;
  }

  .span-magin{
    margin-left: 8px;
  }